<form class='events-form' [formGroup]="eventForm" mat-dialog-content>
    <mat-form-field appearance="outline">
        <mat-label>Sports name</mat-label>
        <input matInput formControlName="SportName">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Location</mat-label>
        <input matInput placeholder="Location" formControlName="Location">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>League</mat-label>
        <input matInput placeholder="League" formControlName="League">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Teams Playing</mat-label>
        <input matInput placeholder="Teams Playing" formControlName="TeamsPlaying">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Starting Time</mat-label>
        <input matInput type="datetime-local" placeholder="Starting Time" formControlName="StartingTime">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Additional Data</mat-label>
        <textarea matInput placeholder="Additional Data" formControlName="AdditionalData"></textarea>
      </mat-form-field>
      <div mat-dialog-actions>
          <button mat-raised-button color="primary" [matDialogClose]="eventForm.value">Save Changes</button>
        <button mat-raised-button color="accent" (click)="cancel()">Cancel</button>
      </div>
    </form>